@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'JameelNooriNastaleeq';
    src: url('./fonts/Jameel-Noori-Nastaleeq.ttf');
    font-weight: normal;
    font-style: normal;
  }